body{
    margin:0;
	width:100%;
	min-width:600px;
	height:100%;
	font-family:'Apple SD Gothic Neo',NanumGothic,'Malgun Gothic','Gulim';
}

#header{
	height:51px;
    background-color:#1BA1E2;
	vertical-align:middle;
}

#header_title{
    font-size:1.5em;
    color:#FFFFFF;
    margin:0 auto;
	padding:11px 0px;
	text-align:center;
	width:200px;
	height:24px;
}

#body{
	background-color:#e1e8ed;
	margin:0;
}

#proto_table{
	margin:0 auto;
	font-size:1em;
}

th{
	font-weight:normal;
}

#footer{
	height:60px;
	font-size:0.8em;
	background-color:#ccd6dd;
}

ul{
	margin:0;
	padding:14px 0px;
	list-style:none;
}
li{
	margin:0;
	text-align:center;
}