<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale-1.0" />
		<title>프로토 배당률 비교</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
	</head>
	<body>
		<div id="header">
			<div id="header_title">
				구매 가능한 프로토
			</div>
		</div>
		<div id="body">
			<table id="proto_table">
				<tr>
					<th>번호</th>
					<th>종목</th>
					<th>리그</th>
					<th>경기일자</th>
					<th>홈팀</th>
					<th>원정팀</th>
					<th>승</th>
					<th>무</th>
					<th>패</th>
					<th>배당경향</th>
				</tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>번호</th><th>종목</th><th>리그</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
				<tr><th>abc</th><th>abc</th><th>abc</th><th>경기일자</th><th>홈팀</th><th>원정팀</th><th>승</th><th>무</th><th>패</th><th>배당경향</th></tr>
			</table>
		</div>
		<div id="footer">
			<ul id="information">
				<li>email : tosonaknoon@gmail.com</li>
				<li>copyright &copy; sonaknoon.com</li>
			</ul>
		</div>
	</body>
<html>